
/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Mustard): #F7CF39;
Yellow Accent: FAE491;
Purple Accent: BF9DD7
2nd font family:
font-family: 'Source Sans Pro', sans-serif; /* not sure how to introduce this
*/

* {
  box-sizing: border-box;
}
main {
  padding-top: 10px;
}
body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  padding: 10px 0;
}
header {
  background-color: #FFFFFF;
  padding: 10px 0 4px;
  display: inline-block; width: 100%;
  position:relative;
}
img {
  max-width: 100%;
  height: auto;
}
pre {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}
h3 {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  color: #000000;
  margin: 30px 0;
}
h1, h2, h4 {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 300;
  color: #000000;
  line-height: 1.4;
}
h1 {
  font-size: 2.15em;
  font-weight: 700;
  padding-left: 9px;
}

h2 {
  font-size: 1.65em;
  font-weight: 700;
}

h3 {
  font-size: 1.15em;
  font-weight: 550;
}
h4 {
  font-size: 0.85em;
  font-weight: 400;
  text-transform: uppercase;
}
h5 {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 3.2;
  color: #000000;
  text-align: left;
  padding: 0 50px;
  margin: 10px 20px;
}
h6 {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.8em;
  font-weight: 550;
  line-height: 0;
  color: #B8B8B8;
  text-align: left;
}
h7 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2.2em;
  font-weight: 550;
  line-height: 0;
  color: #F3D257;
  text-align: left;
}

a {
  color: #686868;
  text-decoration: none; /* No underlining */
}
a:focus {
  color: #ffffff;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #686868;
}
a:hover {
  color: #000000;
}
.button {
  font-size: 13px;
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #000000;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 8px;
  border-radius: 30px;
  width: 125px;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.button:active {
  background-color: #000000;
  color: #ffffff;
}
.button.contact {
  background-color: black;
  color: #ffffff;
  border: 1px solid #000000;
  margin: 20px 0;
}
.button.contact:hover {
  display: inline-block;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 500;
}
.button.normal {
  font-size: 15px;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  border: 3px #000000;
  border-radius: 25px
  padding: 15px;
}
.button.normal:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
}
.h1 + paragraph {
  line-height: 0.8;
}

/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  overflow: hidden; /* */
}
.row {
  margin: 40px 5px; /* 15px top and bottom, 0 left and right */
   /* handles the margins the container between columns */
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.hero.row {
  margin: 10; /* 15px top and bottom, 0 left and right */
 /* handles the margins the container between columns */
 }
 .largefont {
   color: #FF5555;
   font-family:'Quicksand', sans-serif;
   font-weight:700;
 }
 .quote {
   font-family:'Garamond', serif;
   font-size:24px;
   font-weight:800;
 }
#hero span{
  padding: 0;
  width: 130%;
  display: block;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: gray;
}
#hero h2, h3, h4,  {
  text-align: center;
}
#hero h1  {
  text-align: left;
  padding-top: 10px;
}
#footer {
  text-align: center;
  float: center;
  width: 100%;
  display: inline-block;
  padding: 20px 0;
}
.logo {
  max-width: 80px;
  float: left;
  padding-right: 10px;
}
.logo.brand {
  max-width: 55px;
  padding: 10px 5px;
  float: left;
}
  .number.bullet {
  max-width: 70px;
  padding: 10px 18px;
  float: left;
}
selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 100%;
  display: inline-block;
}
.navbar {
  background-color: transparent;
  color: #000000;
  margin: 20px; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative; /* Set the navbar to fixed position */
  font-size: 17px;
  font-weight: 500;
}
/* Links inside the navbar */
.social {
  float: right;
  display: block;
  padding: 12px 38px;
}
.center {
  text-align: center;
  width: 100%;
  display: block;
  padding: 40px 0;
}
.center.intro {
  text-align: center;
  width: 100%;
  display: block;
  padding: 0;
}
.center.wireframe {
  text-align: center;
  width: 90%;
  display: block;
  padding: 5px 10px;
}
.center.challenge {
  text-align: left;
  width: 75%;
  display: inline-block;
  padding: 0;
}
.about {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: left;
  float: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: gray;
}
@keyframes color-change {
  0% {fill: #2e2e2e}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.words {
  animation: 4s color-change infinite alternate linear;
}
@keyframes words-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.words-move {
  animation: 25s words-move infinite alternate linear;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle li .logo {
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
}
nav > ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  nav
  {
    float: left;
    margin-top: 0;
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 25px;
    font weight: 600;
    float: left;
    display: inline-block;
    text-decoration: none;
    color: #000000;
  }
  nav > ul {
  margin: 1em 0;
  }
  .navtoggle.responsive nav {
  padding: 24px 0 0;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    padding: 0 0 10px;
    display: none;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
  [class*="col-"] { /* Specifies a 6 grid column, md=medium, 6=column span */
  padding: 0 10px;
  float: left;
  }
  .col-md-1 {
   width: 20%;
  }
  .col-md-2 {
     width: 25%;
   }
  .col-md-4 {
     width: 40%;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-7 {
     width: 60%;
   }
   .col-md-8 {
       width: 70%;
   }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {\
  nav {
    width: auto;
    float: left;
    margin-top: 4px;
  }
  [class*="col-lg"] { /* Specifies a 6 grid column, md=medium, 6=column span */
  padding: 0 10px;
  float: left;
  }
  .col-lg-3 {
     width: 33%;
   }
   .col-lg-6 {
     width: 50%;
   }
  }

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
