
/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Mustard): #F7CF39;
Yellow Accent: FAE491;
Purple Accent: BF9DD7
2nd font family:
font-family: 'Source Sans Pro', sans-serif; /* not sure how to introduce this
*/

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}
pre {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}
h3 {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h4 {
  font-family: 'Libre Caslon Text', serif;
  font-size: 36px;
  font-weight: 300;
  color: #000000;
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}
h4 {
  font-size: 0.75em;
  font-weight: 400;
}

img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #000000;
}
a:hover
a:focus {
  color: #ffffff;
  text-decoration: none; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #000000;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #000000;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 8px;
  border-radius: 25px;
  border-bottom: 0px solid #000000; /* width of the border, type, color */
  transition: 0.1s;
}
.button:hover {
  background-color: #F7CF39;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.button:active {
  background-color: #000000;
  color: #ffffff;
}
.button.contact {
  background-color: black;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.button.contact:hover {
  display: inline-block;
  background-color: transparent;
  color: #000000;
  font-weight: 700;
}
.button.normal {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  border: 2px #000000;
  border-radius: 25px
  padding: 14px;
  transition: 0.1s;
}
.button.normal:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}
.h1 + paragraph {
  line-height: 1.4;
  }
