
/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Mustard): #F7CF39;
Yellow Accent: FAE491;
Purple Accent: BF9DD7
2nd font family:
font-family: 'Source Sans Pro', sans-serif; /* not sure how to introduce this
*/

* {
  box-sizing: border-box;
}
main {
  padding-top: 133px;
}
body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}
header {
  background-color: transparent;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin: 0 auto;
  postion: fixed;
  display: block;
  width: 100%;
}
pre {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}
h3 {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h4 {
  font-family: 'Libre Caslon Text', serif;
  font-size: 36px;
  font-weight: 300;
  color: #000000;
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}
h4 {
  font-size: 0.75em;
  font-weight: 400;
}

img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:focus {
  color: #ffffff;
  text-decoration: none; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #000000;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #000000;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 8px;
  border-radius: 25px;
  border-bottom: 0px solid #000000; /* width of the border, type, color */
  transition: 0.1s;
}
.button:hover {
  background-color: #F7CF39;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.button:active {
  background-color: #000000;
  color: #ffffff;
}
.button.contact {
  background-color: black;
  color: #ffffff;
  border: 1px solid #000000;
}
.button.contact:hover {
  display: inline-block;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 700;
}
.button.normal {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  border: 2px #000000;
  border-radius: 25px
  padding: 14px;
  transition: 0.1s;
}
.button.normal:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}
.h1 + paragraph {
  line-height: 1.4;
}

/* Layout styling */
.container {
  padding: 0 20px;
}
.row {
  margin: 15px 5px; /* 15px top and bottom, 0 left and right */
  column-count: 2;
}
#hero {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  float: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: gray;
}
#hero h2, h3, h4,  {
  text-align: center;
}
#footer {
  text-align: center;
  width: 80%;
  display: inline-block;
  padding: 20px 0;
}
.logo {
  max-width: 100px;
}
nav > ul > li > a {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0 15px;
  font weight: 600;
}
selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 100%;
  display: inline-block;
}
.navbar {
  margin: 5px auto; /* No spacing to top and bottom and auto spacing to left and right */
  width: 50%;
  display: block;
  position: fixed; /* Set the navbar to fixed position */
  top: 10; /* Position the navbar at the top of the page */
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  padding: auto 15px;
  text-decoration: none;
}
